.menuItem {
    min-width: 30px;
    width: 100%;
    height: 100%;
    line-height: 100%;
    box-sizing: border-box;
    padding: 3px 20px;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--rac-menuItem-fontColor);
}

div.menuItem:hover {
    background-color: var(--rac-menuItem-hoverbgColor);
    color: var(--rac-menuItem-hoverColor);
}

.selected {
    background-color: var(--rac-menuItem-selectedbgColor);
    color: var(--rac-menuItem-selectedColor);
}

div.menuItem.selected:hover {
    background-color: var(--rac-menuItem-selectedbgColor);
    color: var(--rac-menuItem-selectedColor);
}

.menuItemIcon {
    fill: var(--rac-menuItem-fontColor);
    height: 24px;
    width: 24px;
}
.menuItemIconSelected {
    fill: var(--rac-menuItem-hoverColor);
}
div.menuItem:hover .menuItemIcon {
    fill: var(--rac-menuItem-hoverColor);
}
