
.listContainer {    
    display: block;
    position: absolute;
    overflow: hidden;    
    border-radius: 8px;    
    padding: 8px;
    outline: none;
    margin-left: -9999999px;
    background-color: var(--rac-menuSubItem-listbgColor);
    transition: max-height 0.3s ease-in-out;
}

.expanded {
    margin-left:  0px;
}

.menuItemContainer {
    height: 2.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
}


.menuToggleContainer {
    height: 2.5rem;
    padding: 3px 4px
 
}


