.menuContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuItemContainer {
    overflow: hidden;
    display: block;
    height: 2.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
}
